<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3eQuJw9gkAtgwgQ2h6m-4NTPUNCbwik8</string>
	<key>GCM_SENDER_ID</key>
	<string>818908261826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.researchapp2</string>
	<key>PROJECT_ID</key>
	<string>wismeresearchapp2</string>
	<key>STORAGE_BUCKET</key>
	<string>wismeresearchapp2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818908261826:ios:ee790ce4d4e39bf6547a5b</string>
	<key>CLIENT_ID</key>
	<string>818908261826-576j7j20b66nt9bn2mrh4dvaag1mlm24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818908261826-576j7j20b66nt9bn2mrh4dvaag1mlm24</string>
</dict>
</plist>
